.tabs-content{
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    top: 50%;
}

.experience-card .from-to{
    float: right;
}
.experience-card .points{
    margin-top: 3rem;
    float: right;
}

.css-1xhq01z {
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 2px solid;
    border-color: inherit;
}
.css-1xhq01z{
    min-width: 640px;
}
.chakra-tabs{
    height: 80vh;
  }
  .css-2gpk08{
    margin:3rem 1rem;
    width: 120vh !important;
  }

@media screen and (max-width:640px) {
    .css-1xhq01z{
        flex-direction: column !important;
    }
}