@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: black !important;
}

h1,h2,h3,h4,p,a,ul{
  color: white;
  text-decoration: none;
}
.fc-yellow{
  color: rgb(230, 230, 61); 
}
.react-color{
  color:#5ED3F3
}
.vue-color{
  color:#3FB27F
}
.btn {
  background-color: rgb(230, 230, 61); 
  border: none; 
  color: black; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  font-weight: 600;
  cursor: pointer; 
  border-radius: 1px; 
  border: 1.5px solid white;
  margin: 0.5rem;
}

/* Cancel Button */
.btn-light {
  background-color: transparent;
  border: none; 
  color: white; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-weight: 600;
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 1px; 
  border: 1.5px solid white;
  margin: 0.5rem;
}

.btn:hover, .btn-light:hover {
  opacity: 0.8; 
}
